<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="outer-container">
        <img src="<%= user.imageUrl %>" onerror="this.onerror=null; this.src='https://www.saraha2.com/img/avatar.png'" class="profile-pic">
        <p class="title"> <%= user.username %> </p>

        <form action="/send-message/<%= user._id %>" method="POST" onsubmit="submitMSG(event);">
            <textarea id="textArea" name="message" rows="4" cols="60" placeholder="اجعل رسالتك بناءه :)" ></textarea>
            <button style="padding: 10px 40px; font-size: 15px; font-weight: 700;">صارح</button>
        </form>
    </div>



    <script>
        function submitMSG(e){
            const text = document.getElementById('textArea').value;
            if(text == ""){
                e.preventDefault();
                return false;
            }

        }   
    </script>
</body>
</html>