@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@1,500&display=swap');

* {
    padding: 0;
    font-family: 'Cairo', sans-serif;
    margin: 0;
}
header{
    width: 100%;
    background-color:#10BBB3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6px;
}

header ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li {
    display:inline;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f8fa;
}

.outer-container {
    margin-top: 20px;
    padding: 30px;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

.profile-pic {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;

    font-weight: 500;
    border: none;
    border-radius: 50px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: blue;
}

.messages-container {
    display: inline;
    text-align: end;
}

.message {
    margin-bottom: 10px;
    text-align: start;
}

input {
    border-radius: 10px;
    border: none;
    background-color: rgb(199, 224, 233);
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    padding-right: 10px;
}

.outer-container-register {
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.outer-container-register a{
    text-align: center;
}
.reg-btn {
    margin: 0px 30%;
}

textarea{
    width:90%;
    max-width:90%;
    max-height:30%;
    padding: 10px;
    direction: rtl;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 15px;
    font-weight: 500;
    resize:vertical;
    margin-bottom: 10px;
}